body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    height: 500px;
    width: 500px;
    border: solid 2px black;
    display: grid;
}

h1 {
    margin: 24px;
}

button {
    margin-bottom: 24px;
}

.gridItem {
    border: solid black 1px;
    background-color: lightgreen;
}

#startReset {
    display: flex;
    flex-direction: row;
}