body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6591e2;
    user-select: none;
}

#canvas {
    height: 65vh;
    width: 65vh;
    display: grid;
    margin: 24px 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

h1 {
    margin: 24px;
    text-decoration: underline;
    font-family: 'Fredericka the Great', serif;
    color: rgb(255, 175, 134);
    text-decoration: none;
}

#toggleMode {
    background: rgba(0, 0, 0, 0.45)!important;
    border-radius: 6px;
    padding: 8px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    min-width: 460px;
    text-align: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 8px 0px inset, rgba(0, 0, 0, 0.2) -3px -3px 8px 0px inset;
}

#draw {
    color: white;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: transparent !important;
}

button {
    color: black;
    flex: 1;
    margin-bottom: 10px;
    padding: 4px;
    background-color: white ;
    width: 5vh;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
    border-radius: 3px;
    border: none;
    overflow: hidden;
}

#black {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(190, 190, 190, 0.2) 0px -4px 0px inset;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(214, 214, 214, 0.2) 0px -4px 0px inset;
}

#yellow {
    background-color: yellow;
}

#brown {
    background-color: brown;
}

#rainbow {
    background: linear-gradient(-60deg, rgb(68, 85, 238) 10%, rgb(83, 122, 206) 30%, rgb(76, 170, 76) 40%, rgb(247, 247, 115) 60%, rgb(240, 68, 68) 90%);
}

#gridSizeBtn {
    width: auto;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 24px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: translateY(2px);
}
